ul {
    list-style: none;
}
  
.buttons-list li {
    display: inline-block;
}

button {
    border: 1px solid #333;
    background: #DDD;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

#tetris {
    background: #4466ff;
    color: #FFF;
}