@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    background: #000000;
    color: #dddddd;
}

.theme-color-bg-1 {
    background: #222222;
}

.theme-color-bg-2 {
    background: #ff1133;
}

.theme-color-bg-3 {
    background: #0dad3d;
}

.theme-color-bd-1 {
    color: #222222;
}

.theme-color-bd-2 {
    color: #ff1133;
}

.theme-color-bd-3 {
    color: #55ff88;
}

#logoMe{
    background: #19ee59;
    color: white;
    border-radius: 20%;
    font-size: 20px;
    padding-left: 2px;
    padding-right: 2px;
}

.themeButton {
    background-color: transparent;
    color: #cccccc;
    height: 2em;
    border: 1px solid #555555;
    border-radius: 1.5em;
    box-sizing: border-box;
    padding: 0 5% 0 5%;
    transition: 0.5s;
}

.themeButton:hover {
    background-color: #222222;
    color: #ffffff;
    border-color: #cccccc;
    /* border: 1px solid #cccccc; */
}

.themeLabel {
    text-align: start;
    width: 100%;
    padding: 0 1em 0 1em;
}

input, .themeInput {
    background: #000000;
    color: #cccccc;    
    border: medium #555555;
    border-style: solid;
    border-radius: 2em;
    margin: 0.5%;
    padding: 0.7% 1em 0.7% 1em;
}

input:focus, .themeInput:focus {
    background: #222222;
    color: #cccccc;    
    border-color: #777777;
    border-style: solid;
    border-radius: 2em;
    /* margin: 0.5%; */
    padding: 0.7% 1em 0.7% 1em;
}

.icon {
    width: 1em;
    height: 1em;
    background: #00ff88;
    border-radius: 50%;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-alert {
    background: #dd3333;
    color: #000000;
}

/* login.html */
.logReg {
    display: flex;
    justify-content: center;
}

.loginCard {
    width: 400px;
    background: #000000;
    opacity: 0.8;
    transition: 0.5s;
}

.loginCard:hover {
    opacity: 0.9;
}

.userFormTabs {
    padding-top: 20px;
    padding-bottom: 0;
}

#loginTab, #registerTab {
    color: #dddddd;
}

#loginTab:hover, #registerTab:hover {
    border-color: #007bff;
    color: #007bff;
}

#loginTab.active, #registerTab.active {
    background-color: #007bff;
    color: #ffffff;
    border-color: #007bff;
}

.userForm {
    height: 350px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.userFormInfo {
    height: 2em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.usernameLabel, .passwordLabel {
    color: #ffffff;
}

.userFormButton {
    width: 90px;
}

/* profileSetup */
.label-div {
    width: 100%;
    display: flex;
    justify-content: start;
}

.form-section {
    top: 0;
    bottom: 0;
}

.form-section-content {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
}

.carousel-item {
    height: calc(100vh - 56px);
    background: #000000;
}

.instruments-options {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.calendarIcon {
    width: 40px;
}

.availability-wrap {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.gridRow {
    display: flex;
}

.availability-row-main, .availability-grid {
    height: 3em;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.time-slot-switch {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.time-slot-switch .time-slot-label::before {
    background: transparent;
    border-color: #555555;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    cursor: pointer;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}

.time-slot-switch .time-slot-label:hover {
    background: #222222;
}

.time-slot {
    width: 100%;
    height: 100%;
    padding: 0;
    left: 0;
}

.time-slot-label {
    width: 100%;
    height: 100%;
}

.time-slot-switch .time-slot-label::after {
    display: none;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #55ff88;
    background-color: #55ff88;
}

.address-info {
    box-sizing: border-box;
}

.instruments-toggle {
    height: 4em;
    padding: 1em 0 1em 0;
}

.instruments-toggle .instruments-option-label::before {
    font-size: 20px;
    width: 12em;
    height: 2.25em;
    border-radius: 1.25em;
    opacity: 0.5;
    transition: 0.5s;
}

.instruments-toggle .instruments-option-label:hover::before {
    opacity: 0.7;
    background: #222222;
}

.instruments-option-label::before {
    position: initial;
    display: block;
    background-color: transparent;
    border: #adb5bd solid 1.5px;
}

.instruments-toggle .instruments-option-label::after, .instruments-toggle .instruments-option:checked~.instruments-option-label::after {
    display: none;
}

.instruments-option-label .instruments-name {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instruments-name p {
    margin: 0;
}

.save-profile {
    font-size: 25px;
    width: 12em;
    height: 2.25em;
    border-color: #ffffff;
    border-width: 2px;
    opacity: 0.5;
}

.save-profile:hover {
    border-width: 1.5px;
    opacity: 1;
}


/* profile */
.profileContainer {
    max-width: 95vw;
}

.profileTitle {
    padding-top: 2%;
    padding-bottom: 2%;
}

.profilePicSection, .playerInfoSection, .personalSection, .contactSection {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.playerPhoto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.profilePicControl {
    display: inline-flex;
}

.uploadControlButtons {
    flex: 1;
}

.uploadInfo {
    width: 100%;
    font-size: 0.8em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.browseButton {
    border: 1px solid transparent;
    background-color: transparent;
    border-color: #007bff;
}

.browseButton::after {
    width: 100%;
    color: #007bff;
    /* border-color: #007bff; */
    background: #000000;
    text-align: center;
}

.browseButton:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    cursor: pointer;
}

.browseButton > i {
    margin-left: 0.1em!important;
    margin-right: 0.1em!important;
}

.editableInput {
    height: 2.5em;
    text-align: center;
    border: medium #555555;
    border-style: solid;
    border-radius: 2em;
    box-sizing: border-box;
    margin: 0.5em 0 0.5em 0;
}

.readOnly {
    border-color: transparent;
}

.editableSelect {
    color: #dddddd;
    height: 2.5em;
    text-align: center;
    line-height: 2.25;
    padding-left: 0;
    padding-right: 0;
}

.locateButton, .findMeButton {
    font-size: 0.8em;
    height: 2em;
}

.saveButton {
    width: 100px;
    margin: 0.5em 0 0.5em 0;
}

.playerStats {
    min-height: 290px;
}

.sportInfo {
    min-height: 250px;
}

/* pie chart starts */
/* .sportPie {
    height: 150px;
}

.pieData {
    display: none;
} */

/* CSS Circular Sector */
/* https://stackoverflow.com/questions/11487557/how-can-i-make-a-circular-sector-using-css/11497542 */
/* .menu {
    background: transparent;
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
}
.slice {
    left: 50%;
    bottom: 50%;
    position: absolute;
    width: 200px;
    height: 200px;
    border-color: transparent;
    transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    opacity: 0.6;
    transition: 0.5s;
}
.menu:hover .slice {
    opacity: 0.9;
}
.sliceWin {
    background: #1fe06f;
    z-index: 1;
}
.sliceLose {
    background: #ff1133;
    z-index: 1;
}

.pieContents {
    width: 140px;
    height: 140px;
    position: absolute;
    background: #000000;
    border-radius: 50%;
    z-index: 2;
    transform-origin: center;
    -moz-transform-origin: center;
    -webkit-transform-origin: center;
    transform: translate(5px, 5px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.pieDataContent {
    opacity: 0.9;
}

.dataRecord {
    font-size: 0.8em;
}

.winRate {
    font-size: 2em;
    color: gold;
}

.dataWin {
    color: #1fe06f;
}

.dataLose {
    color: #ff1133;
} */
/* pie chart ends */

.sportStatsWrap {
    min-height: 150px;
    height: 70%;
}

.playerCurrentRank {
    font-weight: bold;
    font-size: 1.5em;
}

.matchRecordWrap {
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.joinSportWrap {
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.sportButton {
    width: 50%;
}

/* bandRoom */
.bandRoomContainer {
    height: calc(100vh - 346px);
}


.bandRoomHead {
    margin-top: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.slidecontainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.slidecontainer i {
    margin: 15px;
    cursor: pointer;
}

/* volume slider starts */
.volumeSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5% / 50%;
    border: solid 2px #555555;
    background: #222222;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
    padding: unset;
}

.volumeSlider:focus {
    border: solid 2px #aaaaaa;
    background: #555555;
    padding: unset;
}
  
.volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%; 
    background: #dddddd;
    cursor: pointer;
}
  
.volumeSlider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #dddddd;
    cursor: pointer;
}
/* volume slider ends */

.outputVolume {
    width: 60px;
    text-align: center;
}

.bandRoomCol {
    display: flex;
    flex-flow: column nowrap;
    height: stretch;
}

.typeButtonsList {
    list-style: none;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.typeButtonsList li {
    flex: 1;
}

.typeLabel {
    /* width: 100px; */
    vertical-align: middle;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3em 0.3em 0.3em 0.3em;
}

.typeLabel.active {
    background: #007bff;
}

.typeButton, .typeButton:focus {
    /* position: absolute; */
    opacity: 0;
    width: 100%;
    height: inherit;
}

.typeLabel span {
    position: absolute;
}

.controlButton, .tetrisButton {
    margin: 0.3em 0.3em 0.3em 0.3em;
}

.controlButton {
    width: 80px;
}

.clearButton, .exportTrackButton, .deleteTrackButton {
    border: solid 2px #777777;
    width: 2.5em;
    height: 2.5em;
    padding: 0;
    margin: 5px;
    display: flex;
    justify-content: center;
}

.volumeButton {
    height: 40px;
    width: 60px;
    background: transparent;
    padding: 0;
    border: solid 2px transparent;
    border-radius: 50%;
    overflow: hidden;
}

.playButton, .playTrackButton {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 0.6em;
    margin: 5px;
    padding: 0;
    border: solid 2px #777777;
    border-radius: 50%;
    overflow: hidden;
}

.playButton i.fa-play {
    display: inline-block;
}

.playButton.active i.fa-play {
    display: none;
}

.volumeButton i {
    margin: 10px;
    color: #dddddd;
}

.playButton i, .playTrackButton i {
    margin: 1.4em;
}

/* track list scrollbar starts */
.trackListScroll {
    /* height: 170px; */
    flex: 1;
    height: stretch;
    max-height: calc(100vh - 670px);
    float: left;
    background: transparent;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 5px 5px 5px 5px;
}

.trackListScroll::-webkit-scrollbar {
    width: 10px;
    background-color: #111111;
    border-radius: 50% / 5%;
}

.trackListScroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #222222;
}
/* track list scrollbar ends */

.trackList {
    padding: 0;
}

.trackList li {
    height: 3em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.trackName {
    width: 140px;
    margin: 5px;
    height: 2.6em;
}

.trackName:focus {
    margin: 5px;
}

/* midi array scrollbar starts */
.midiArrayScroll {
    height: 2.5em;
    flex: 1;
    float: left;
    background: transparent;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 5px;
    display: flex;
    align-items: center;
}

.midiArrayScroll::-webkit-scrollbar {
    width: 10px;
    background-color: #111111;
    border-radius: 5% / 50%;
}

.midiArrayScroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #222222;
}
/* midi array scrollbar ends */

.midiArrayTrack {
    white-space: nowrap;
}

.addToTrackButton {
    height: 2.5em;
    width: auto;
    justify-self: flex-end;
    border: solid 2px #777777;
    margin-left: auto;
}

.trackListHead, .midiListHead, .midiListFoot {
    height: 3em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.trackListHead p, .midiListHead p {
    flex: 1;
    margin: 0;
}

.toggle.btn {
    width: 5.5em!important;
    height: 1em!important;
    font-size: 0.8em;
    border: solid 1px #777777;
    border-radius: 2em;
}

.monopoly ~ .toggle-group .btn {
    color: #dddddd;
    line-height: 1;
    border-radius: 3em;
    padding-left: 10px;
    padding-right: 10px;
    background: transparent;
}

.monopoly ~ .toggle-group .btn.toggle-on {
    text-align: start;
    border: solid 1px #888888;
}

.monopoly ~ .toggle-group .btn.toggle-off {
    text-align: end;
    border: solid 1px #888888;
}

.monopoly ~ .toggle-group .toggle-handle {
    border: solid 1px #777777;
    background: #777777;
    border-radius: 20%;
    width: 30px;
}

.midiList {
    list-style: none;
    padding: 0;
}

/* midi list scrollbar starts */
.midiListScroll {
    flex: 1;
    /* height: 240px; */
    height: stretch;
    max-height: calc(100vh - 620px);
    float: left;
    background: transparent;
    overflow-y: scroll;
    margin: 5px;
}

.midiListScroll::-webkit-scrollbar {
    width: 10px;
    background-color: #111111;
    border-radius: 50% / 5%;
}

.midiListScroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #222222;
}
/* midi list scrollbar ends */

/* piano key scrollbar starts */
.pianoKeyScroll {
    height: 300px;
    float: left;
    background: transparent;
    overflow-x: scroll;
    flex: 1;
    margin: 5px;
}

.pianoKeyScroll::-webkit-scrollbar {
    width: 10px;
    background-color: #111111;
    border-radius: 1% / 50%;
}

.pianoKeyScroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #222222;
}
/* piano key scrollbar ends */

.keyboardControl {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.instrumentTitle {
    font-size: 1.5em;
    text-align: center;
    flex: 1;
}

.shiftKey {
    border: solid 2px #999999;
    width: 2em;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
}

/* piano starts */
.pianoKeys {
    /* height: 18.875em; */
    /* width: 34em; */
    width: max-content;
    padding: 1em 1em 0 1em;
    position: relative;
    /* display: inline-block; */
    /* overflow: hidden; */
    /* margin: 5em auto;
    border: 5px solid #160801;
    border-radius: 1em;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/187/vwood.png);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5) inset, 0 1px rgba(212, 152, 125, 0.2) inset, 0 5px 15px rgba(0, 0, 0, 0.5); */
}

.pianoKey {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    float: left;
}

.pianoKeys .keyWhite {
    height: 16em;
    width: 3em;
    z-index: 1;
    border-left: 5px solid #bbb;
    border-bottom: 5px solid #bbb;
    border-radius: 0 0 5px 5px;
    box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 5px #ccc inset, 0 0 3px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #eee 0%, #fff 100%);
    opacity: 0.7;
}

.pianoKey.accessible {
    opacity: 1;
}

.pianoKeys .keyWhite:active, .keyWhite.active {
    border-top: 1px solid #777;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1) inset, -5px 5px 20px rgba(0, 0, 0, 0.2) inset, 0 0 3px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%);
}

.keyBlack {
    height: 10em;
    width: 2em;
    margin: 0 0 0 -0.9em;
    z-index: 2;
    border: 1px solid #000;
    border-radius: 0 0 3px 3px;
    box-shadow: -1px -1px 2px rgba(156, 137, 137, 0.2) inset, 0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg, #222 0%, #555 100%);
    opacity: 0.7;
}

.keyBlack:active, .keyBlack.active {
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset, 0 -2px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, #444 0%, #222 100%);
}

.note-D, .note-E, .note-G, .note-A, .note-B {
    margin: 0 0 0 -1.1em;
}

.pianoKeys .pianoKey:first-child {
    border-radius: 5px 0 5px 5px;
}

.pianoKeys .pianoKey:last-child {
    border-radius: 0 5px 5px 5px;
}
/* piano ends */

/* main page*/

.showButton{
    display: flex
}

.mainContent:before {
    content: "";
    position: fixed;
    top: 8%;
    left: -5%;
    right: 0;
    bottom: 0;
    z-index: -1;
    
    display: block;
    background-image: url('/6212452191_0d8a15e2b5_o.jpg');
    background-size:cover;
    width: 100;
    height: 100;
    
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
  }
  .mainContent {
    overflow: auto;
    position: relative;
  }

  .bandStudio, .myBand, .myMusic, .mySong, .myAlbum {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.8); /* Black w/opacity/see-through */
    color: #DBDBDB;
    font-family: "Open Sans",sans-serif;
    font-weight: 200;
    /* border: 3px solid #f1f1f1; */
    padding: 20px;
    margin-top: 30px;
    margin-left: 30px;
    height: 400px
  }

  /* band page*/

  .bandContent:before {
    content: "";
    position: fixed;
    top: 8%;
    left: -5%;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    background-image: url('/23479418221_4eccf9940e_h.jpg');
    background-size:cover;
    width: 100;
    height: 100;  
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
  }
  .bandContent {
    overflow: auto;
    position: relative;
  }

  .bandButton{
    background-color: rgba(255,121,13,0);
    border: 1px solid #ff790d;
    border-radius: 5px;
    margin: 0 3px;
    text-align: center;
    font-size: 16px;
    font-weight: 300!important;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .resButton{
    background-color: rgba(255,121,13,0);
    width: 80px;
    height: 30x;
    border: 1px solid #ff790d;
    border-radius: 5px;
    margin: 0 3px;
    text-align: center;
    font-size: 16px;
    font-weight: 300!important;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
  }

  .searchInput{
      display: none;
  }

  #searchHead{
    padding-top: 10px
  }

  #searchBox1,#searchBox2,#searchBox3{
      margin-left: 10px
  }

  #searchBox1:checked ~ #bandNameSearch{
    display: block;
    margin-top: 10px;
  }
  #searchBox2:checked ~ #headlineSearch{
    display: block;
    margin-top: 10px;
  }
  #searchBox3:checked ~ #instrumentSearch{
    display: block;
    margin-top: 10px;
  }

#searchRow{
    padding-top: 20px;
}
  .searchButton{
    background-color: rgba(255,121,13,0);
    width: 80px;
    height: 30x;
    border: 1px solid #ff790d;
    border-radius: 5px;
    margin: 0 3px;
    text-align: center;
    font-size: 16px;
    font-weight: 300!important;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
  }

  .bandSearch, .createAdsBand, .joinBand
  {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.8); /* Black w/opacity/see-through */
    color: #DBDBDB;
    font-family: "Open Sans",sans-serif;
    font-weight: 200;
    /* border: 3px solid #f1f1f1; */
    padding: 20px;
    margin-top: 30px;
    margin-left: 30px;
    height: 250px
  }

  .joinBand{
      height: 500px
  }

  #joinHeader{
      padding: 1rem
  }

.headRow{
    display: flex;  
    padding: 1em!important;
    background:  rgba(50, 50, 51, 0.6)
    
}

.mainHeadRow{
    display: flex;
    padding: 0.3em!important;
    background:  rgba(50, 50, 51, 0.6)
    
}
.joinBand{
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid gray;
}

#matchInfoHeader{
    font-size: 30px
}

.dataRow{
    text-align: start;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.adInformation{
    padding: 1em!important;
    border-bottom: 1px solid gray;
}
.memberInformation, .resInformation, .bandInformation, .bandRoom{
    padding: 0.3em!important;
    border-bottom: 1px solid gray;
}

.bandName{
    color: #ff790d;
}

.tidy{
    flex :1
}

.formSubmitted{
    height: 10%;
}

.videos audio, .videos video {
    display: none;
}
