.c4 {
    position: absolute;
    left: 180px;
    top: 262px;
    width: 33px;
    height: 50px;
}

.c_4 {
    position: absolute;
    left: 180px;
    top: 220px;
    width: 38px;
    height: 40px;
}

.d4 {
    position: absolute;
    left: 215px;
    top: 262px;
    width: 33px;
    height: 50px;
}

.d_4 {
    position: absolute;
    left: 220px;
    top: 220px;
    width: 38px;
    height: 40px;
}

.e4 {
    position: absolute;
    left: 250px;
    top: 262px;
    width: 33px;
    height: 50px;
}

.f4 {
    position: absolute;
    left: 285px;
    top: 262px;
    width: 33px;
    height: 50px;
}

.f_4 {
    position: absolute;
    left: 280px;
    top: 220px;
    width: 38px;
    height: 40px;
}

.g4 {
    position: absolute;
    left: 320px;
    top: 262px;
    width: 33px;
    height: 50px;
}

.g_4 {
    position: absolute;
    left: 320px;
    top: 220px;
    width: 38px;
    height: 40px;
}

.a4 {
    position: absolute;
    left: 355px;
    top: 262px;
    width: 33px;
    height: 50px;
}

.a_4 {
    position: absolute;
    left: 360px;
    top: 220px;
    width: 38px;
    height: 40px;
}

.b4 {
    position: absolute;
    left: 390px;
    top: 262px;
    width: 33px;
    height: 50px;
}

.c5 {
    position: absolute;
    left: 425px;
    top: 262px;
    width: 33px;
    height: 50px;
}

.c_5 {
    position: absolute;
    left: 420px;
    top: 220px;
    width: 38px;
    height: 40px;
}

.d5 {
    position: absolute;
    left: 460px;
    top: 262px;
    width: 33px;
    height: 50px;
}

.d_5 {
    position: absolute;
    left: 460px;
    top: 220px;
    width: 38px;
    height: 40px;
}

.e5 {
    position: absolute;
    left: 495px;
    top: 262px;
    width: 33px;
    height: 50px;
}

.f5 {
    position: absolute;
    left: 530px;
    top: 262px;
    width: 33px;
    height: 50px;
}

.f_5 {
    position: absolute;
    left: 520px;
    top: 220px;
    width: 38px;
    height: 40px;
}

.g5 {
    position: absolute;
    left: 565px;
    top: 262px;
    width: 33px;
    height: 50px;
}

.g_5 {
    position: absolute;
    left: 560px;
    top: 220px;
    width: 38px;
    height: 40px;
}

.a5 {
    position: absolute;
    left: 600px;
    top: 262px;
    width: 33px;
    height: 50px;
}

.a_5 {
    position: absolute;
    left: 600px;
    top: 220px;
    width: 38px;
    height: 40px;
}

.b5 {
    position: absolute;
    left: 635px;
    top: 262px;
    width: 33px;
    height: 50px;
}

.c6 {
    position: absolute;
    left: 670px;
    top: 262px;
    width: 33px;
    height: 50px;
}