.bassStyle {
    position: absolute;
    left: 220px;
    top: 280px;
    width: 170px;
    height: 170px;
}
.snareStyle {
    position: absolute;
    left: 393px;
    top: 239px;
    width: 140px;
    height: 70px;
}
.hihatStyle {
    position: absolute;
    left: 463px;
    top: 133px;
    width: 143px;
    height: 86px;
}
.cymbalStyle {
    position: absolute;
    left: 76px;
    top: 27px;
    width: 160px;
    height: 95px;
}
.tom1Style {
    position: absolute;
    left: 308px;
    top: 133px;
    width: 127px;
    height: 100px;
}
.tom2Style {
    position: absolute;
    left: 165px;
    top: 138px;
    width: 136px;
    height: 110px;
}
.tom3Style {
    position: absolute;
    left: 41px;
    top: 255px;
    width: 155px;
    height: 164px;
}